.bg-arcoiris{
    background: rgb(173,196,237);
    background: radial-gradient(circle, rgba(173,196,237,1) 0%, rgba(148,233,231,1) 100%);
    
}
img{
    width:500px;
    height:250px;
}
.tarro{
    width:50px;
    height: 50px;
}

.display-3{
    font-family: 'Birthstone', cursive;
    text-align: center;
}
.card-img-top{
    width:400px;
    height:200px;
}

