<nav class="navbar navbar-expand-lg navbar-light bg-arcoiris">
    <div class="container-fluid">
    <a class="navbar-brand" href=""><img src="assets/img/tarro-de-dulces.png" class=tarro >Sweet Gourmet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:4200">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/menu">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/postres">Recetas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/registro">Registrate!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/login">Inicio sesion</a>
        </li>
        </ul>
    </div>
    </div>
</nav>
<br>
<div class="container">
    <section class="py-5 text-center contengo">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="display-3 titulo-destacado">Registro Usarios Sweet Gourmet</p>
            <p class="display-7 texto">
                Registrate para tener contenido exclusivo todos los días!
            </p>
        </div>
    </div>
    <div class="container1">
    <div class="row">
        <div class="col-9">
            <form action="">
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Nombre</label>
                    <input type="text" placeholder="Escribe tu nombre" class="form-control col-12">
                </div>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Apellidos</label>
                    <input type="text" placeholder="Escribe tu apellidos" class="form-control col-12">
                </div>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Correo</label>
                    <input type="email" placeholder="Escribe tu correo" class="form-control col-12">
                </div> 
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Contraseña</label>
                    <input type="password" placeholder="Escribe tu ccontraseña" class="form-control col-12">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">Registrate</button>
                </form>
                </div>
            </div>  
        </div>
</section>

</div>
