.container1{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 2 0vh;
}
.contengo{
    background-color: rgb(139, 183, 250);
}
.texto{
    font-family: 'Josefin Sans', sans-serif;
}
.imagen{
    width: 1263px;
    height: 250px;
}